<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>641475881348-8eqbsi76splo35j7br71p3j43sqa2grj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.641475881348-8eqbsi76splo35j7br71p3j43sqa2grj</string>
	<key>API_KEY</key>
	<string>AIzaSyDvOwn3TydCOK2TV9pFHx-c3Y4Sth8njaQ</string>
	<key>GCM_SENDER_ID</key>
	<string>641475881348</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.toturo</string>
	<key>PROJECT_ID</key>
	<string>toturu-a6162</string>
	<key>STORAGE_BUCKET</key>
	<string>toturu-a6162.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:641475881348:ios:ddd5c253b2ee94c017d5d1</string>
</dict>
</plist>